/* DASHBOARD SIDE BAR */ 
.side {
  background-color: #F4F4F4;
  width: 30%;
  text-align: center;
  padding-top: 150px;
}

.side ul {
  padding-left: 30%;
  text-align: left;
  font-size: 18px;
  display: block;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  width: 400px;
}


.side a {
  padding: 30px 10px;
  width: 100%;
  height: 100%;
  font-weight: 400;
}

.side i {
  padding-right: 10px;
  color: #555555;
}

.side li {
  text-align: left;
  padding: 30px 10px;
  
}
.side li:hover {
  background-color: #EAEAEA;
  cursor: pointer;
  transition: 0.2s;
}

.content {
  background-color: #FBFBFB;
  padding:150px 0px 250px 150px;
  width: 70%;
  height: 100vh;
}

.sideNav-article {
  display: flex;
  width: 100%;
}

.side ul li a {
text-decoration: none;
color: #555555;
}
